<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" [routerLink]="['/register']" color="danger" fill="outline" size="small">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>

    <ion-title> Inicia tu sesión aquí </ion-title>


    <ion-buttons slot="end">
      <ion-button fill="clear" color="danger" (click)="logout()">
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-title>Perfil de Usuario</ion-title>
  <ion-label>Bienvenido {{usuario.username}}</ion-label>
</div>

<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Editar Perfil</ion-button>
  <p>{{ message }}</p>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Actualizar Datos</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" placeholder="Tu nombre" [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input type="email" placeholder="Tu correo" [(ngModel)]="usuario.correo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nueva Contraseña</ion-label>
          <ion-input type="password" placeholder="Nueva contraseña" [(ngModel)]="passwordData.newPassword"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Confirmar Contraseña</ion-label>
          <ion-input type="password" placeholder="Confirmar contraseña" [(ngModel)]="passwordData.confirmPassword"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
