<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" [routerLink]="['/login']" color="danger" fill="outline" size="small">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
    <ion-title> Recuperar contraseña </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Correo Electrónico</ion-label>
    <ion-input type="email" placeholder="Ingrese su correo" [(ngModel)]="correo"></ion-input>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="solicitarCodigo()">Enviar Código</ion-button>

  <ion-item *ngIf="mostrarCodigo">
    <ion-label position="stacked">Código de Recuperación</ion-label>
    <ion-input type="text" placeholder="Ingrese el código" [(ngModel)]="codigoIngresado"></ion-input>
  </ion-item>

  <ion-item *ngIf="mostrarCodigo">
    <ion-label position="stacked">Nueva Contraseña</ion-label>
    <ion-input type="password" placeholder="Nueva contraseña" [(ngModel)]="nuevaPassword"></ion-input>
  </ion-item>

  <ion-button *ngIf="mostrarCodigo" expand="full" color="success" (click)="restablecerPassword()">Restablecer Contraseña</ion-button>
</ion-content>
